<mat-card>
  <mat-card-header>
    <mat-card-title>Śniadanie</mat-card-title>
    <button mat-button [routerLink]="['../add-meal']" class="add-btn">
      <mat-icon class="mat-18">add</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Kolumna: Nazwa posiłku -->
      <ng-container matColumnDef="nazwa">
        <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nazwa}} </mat-cell>
      </ng-container>

      <!-- Kolumna: Data posiłku -->

      <!-- Kolumna: Kalorie -->
      <ng-container matColumnDef="kcal">
        <mat-header-cell *matHeaderCellDef> Kalorie (kcal) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.posilekGDA.kcal}} </mat-cell>
      </ng-container>

      <!-- Kolumna: Białko -->
      <ng-container matColumnDef="bialka">
        <mat-header-cell *matHeaderCellDef> Białko (g) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.posilekGDA.bialka}} </mat-cell>
      </ng-container>

      <!-- Kolumna: Tłuszcze -->
      <ng-container matColumnDef="tluszcze">
        <mat-header-cell *matHeaderCellDef> Tłuszcze (g) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.posilekGDA.tluszcze}} </mat-cell>
      </ng-container>

      <!-- Kolumna: Węglowodany -->
      <ng-container matColumnDef="weglowodany">
        <mat-header-cell *matHeaderCellDef> Węglowodany (g) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.posilekGDA.weglowodany}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="akcje">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="onClick"><mat-icon class="mat-18">edit</mat-icon>Edytuj</button>
          <button mat-button (click)="onClick"><mat-icon class="mat-18">delete</mat-icon>Usuń</button>
        </mat-cell>
      </ng-container>

      <!-- Wiersze nagłówka i wiersze z danymi -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </mat-card-content>
</mat-card>
