$primary-color: #2196F3  // Blue
$accent-color: #FF5252  // Red
$warn-color: #388E3C     // Green
$text-color: #333
$background-color: #F5F5F5
$primary-text-color:#F5F5F5

.grid-container
  margin: 20px
  margin-left: 210px


mat-card-content
  width: 100%


.summary
  color: $background-color

  .summary-content
    width: 80%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: stretch
    align-content: stretch

    mat-card-header
      background-color: $primary-color
      margin-bottom: 10px
      padding-bottom: 5px

.h-names
  color: white


.custom-table-container
  display: block  // Pozwól tabeli działać poprawnie w kontenerze
  margin-bottom: 20px
  width: 100%  // Tabela wypełnia cały kontener

  .custom-table
    width: 1700px  // Tabela zajmuje całą szerokość
    table-layout: fixed  // Ustawiamy stałe szerokości kolumn
    border-collapse: collapse  // Zmniejszamy marginesy między komórkami
    white-space: normal  // Pozwalamy na zawijanie tekstu w komórkach
    word-wrap: break-word  // Łamiemy długie słowa w tekście

    th,
    td
      padding: 8px  // Margines wewnętrzny dla czytelności
      text-align: left  // Wyrównanie tekstu do lewej



    /* Kolumny o szerokości w procentach */
    .nazwa
      width: 500px

    .waga
      width: 200px

    .makro
      width: 500px

    .akcje
      width: 500px
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      align-items: center
      align-content: center

.mat-header-row
    background-color: $warn-color

.but-add
  background-color: $accent-color
  color: $primary-text-color

.but-shoplist
  background-color: $accent-color
  color: $primary-text-color
  height: 59px
  width: 200px
  margin: 0 20px

.tools
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  align-content: space-between


