<app-app-navi></app-app-navi>
<div class="grid-container">
  <mat-card>
    <mat-card-header>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz datę</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDateValue" (dateChange)="onDateChange($event)" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-header>
    <div>

    </div>
    <div class="">

    </div>
    <div class="">

    </div>
    <div class="">

    </div>
    <mat-card class="summary">
      <mat-card-header>
        <mat-card-header>
          <mat-card-title> Podsumowanie dnia </mat-card-title>
        </mat-card-header>
      </mat-card-header>
      <mat-card-content class="summary-content">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Wartości sumaryczne makroskładników</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h3>Kcal: {{ sumGDA.kcal }}</h3>
            <h3>Białka: {{ sumGDA.bialka }}</h3>
            <h3>Tłuszcze: {{ sumGDA.tluszcze }}</h3>
            <h3>Węglowodany: {{ sumGDA.weglowodany }}</h3>
          </mat-card-content>
        </mat-card>
        <div class="chart">
          <mat-card>
            <canvasjs-chart
              [options]="chartOptions"
              (chartInstance)="getChartInstance($event)"
            >
            </canvasjs-chart>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
