<app-app-navi></app-app-navi>
<div class="grid-container">
  <div class="back">
    <button mat-raised-button color="accent" (click)="cancel()" class="but-back">
      <mat-icon class="mat-18">arrow_back</mat-icon>
      <label for="">Powrót</label>
    </button>
  </div>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="saveMeal()">
      <!-- <div class="flex-container"> -->
      <ng-container class="imgcontainer">
        <img [src]="getImage()" alt="Brak zasobu" class="meal-img" />
      </ng-container>
      <ng-container class="meal-content">
        <ng-container class="meal-data">
          <mat-form-field appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput formControlName="nazwa" [readonly]="true" />
          </mat-form-field>

          <!-- Kategoria -->
          <mat-form-field appearance="fill">
            <mat-label>Kategoria</mat-label>
            <input matInput formControlName="kategoria" [readonly]="true" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Typ posiłku</mat-label>
            <input matInput formControlName="typ" [readonly]="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Liczba porcji / Ilość produktu</mat-label>
            <input matInput type="number" formControlName="ilosc"
            color="accent" (input)="zmianaIlosci()" [readonly]="mode == 'view'"/>
          </mat-form-field>

          <!-- Wartości makroskładników -->

          <div class="flex-container">
            <div class="flex-item">
              <ng-container class="macro-values">
                <mat-form-field appearance="fill">
                  <mat-label>Kcal</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="kcal"
                    [readonly]="true"

                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Białka (g)</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="bialka"
                    [readonly]="true"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Węglowodany (g)</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="weglowodany"
                    [readonly]="true"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Tłuszcze (g)</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="tluszcze"
                    [readonly]="true"
                  />
                </mat-form-field>
              </ng-container>
            </div>

            <div class="flex-item">
              <ng-container class="pervalue">
                <mat-form-field appearance="fill">
                  <mat-label>Kcal/100g/całość przepisu</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="kcal100"
                    [readonly]="true"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Białka (g)/100g/całość przepisu</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="bialka100"
                    [readonly]="true"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Węglowodany (g)/100g/całość przepisu</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="weglowodany100"
                    [readonly]="true"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Tłuszcze (g)/100g/całość przepisu</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="tluszcze100"
                    [readonly]="true"
                  />
                </mat-form-field>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <!-- Przyciski akcji -->
      </ng-container>
      <!-- </div> -->
      <ng-container class="action-buttons">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          *ngIf="mode == 'edit'"
        >
          Zapisz
        </button>
        <button mat-button type="button" color="warn" (click)="resetForm()" *ngIf="mode == 'edit'">
          Reset
        </button>
        <button mat-button type="button" color="accent" (click)="navigateToRecipe()" *ngIf="form.value.typ == 'Posiłek'">
          Zobacz przepis
        </button>
      </ng-container>
    </form>
  </mat-card>
</div>
