@use '../../../../custom-theme.scss' as custom
mat-card
  color: custom.$primary-text-color

  mat-card-header
    background-color: custom.$primary-color
  .bla-bla
    margin: 0
  .obesity-scale
    color: custom.$primary-color
    margin: 2px
