<app-app-navi></app-app-navi>
<div class="container">
  <div class="back">
    <button mat-raised-button color="accent" (click)="cancel()">
      <mat-icon class="mat-18">arrow_back</mat-icon>
      <label for="">Powrót</label>
    </button>
  </div>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-title-group>
        <mat-card-title>Edytuj produkt</mat-card-title>
      </mat-card-title-group>
      <mat-card-content class="form-content">
        <mat-form-field>
          <mat-label>Nazwa produktu</mat-label>
          <input
            matInput
            type="text"
            formControlName="nazwaProduktu"
            placeholder="Nazwa produktu"
            (keyup)="checkForDoubles($event)"
          />
          <mat-error *ngIf="form.get('nazwaProduktu')?.hasError('required')">
            Pole jest wymagane
          </mat-error>
          <mat-error *ngIf="form.get('nazwaProduktu')?.hasError('duplicate')">
            W bazie istnieje już produkt o takiej nazwie
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kcal na 100g</mat-label>
          <input
            matInput
            type="number"
            formControlName="kcal"
            (keydown)="handleInput($event, 'kcal')"
          />
          <mat-error *ngIf="form.get('kcal')?.hasError('required')">
            Pole jest wymagane
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Białka na 100g</mat-label>
          <input
            matInput
            type="number"
            formControlName="bialko"
            (keydown)="handleInput($event, 'bialko')"
          />
          <mat-error *ngIf="form.get('bialko')?.hasError('required')">
            Pole jest wymagane
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Węglowodany na 100g</mat-label>
          <input
            matInput
            type="number"
            formControlName="weglowodany"
            (keydown)="handleInput($event, 'weglowodany')"
          />
          <mat-error *ngIf="form.get('weglowodany')?.hasError('required')">
            Pole jest wymagane
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tłuszcze na 100g</mat-label>
          <input
            matInput
            type="number"
            formControlName="tluszcze"
            (keydown)="handleInput($event, 'tluszcze')"
          />
          <mat-error *ngIf="form.get('tluszcze')?.hasError('required')">
            Pole jest wymagane
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="action">
        <button
          mat-button
          color="accent"
          type="submit"
          [disabled]="form.pristine || form.untouched || form.invalid"
        >
          Zapisz
        </button>
        <button
          mat-button
          color="primary"
          (click)="resetForm()"
          [disabled]="form.pristine || form.untouched"
        >
          Resetuj
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
