$my-primary-color: #2196F3 // Blue
$my-accent-color: #FF5252 // Red
$my-warn-color: #388E3C // Green
$my-text-color: #333
$my-background-color: #f5f5f519

// Kontener główny
.grid-container
  display: flex
  flex-direction: column
  padding: 16px
  min-height: 100vh
  background-color: $my-background-color

  .but-back
    margin: 20px 0

  mat-card
    width: 100%
    max-width: 900px
    padding: 24px
    border-radius: 8px
    display: flex
    flex-direction: column
    gap: 24px
    margin: 0 auto

// Obrazek
.imgcontainer
  display: flex
  justify-content: center
  margin-bottom: 20px

  .meal-img
    width: 100%
    max-width: 30vw
    max-height: 40vh
    object-fit: cover
    border-radius: 8px
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1)

// Formularz
.meal-content
  display: flex
  flex-direction: column
  gap: 16px

.meal-data
  display: flex
  flex-wrap: wrap
  gap: 24px

// Flex-items (kolumny formularza)
.flex-container
  display: flex
  flex-wrap: wrap
  gap: 24px

  .flex-item
    flex: 1 1 250px // rośnie, kurczy się, minimalna szerokość
    display: flex
    flex-direction: column
    gap: 16px

// Pola formularza
mat-form-field
    width: 100%

// Przycisk akcji
.action-buttons
  display: flex
  flex-wrap: wrap
  gap: 16px

  button
    flex: 1 1 150px
    min-width: 120px

// Makroskładniki i wartości
.macro-values,
.pervalue
  display: flex
  flex-direction: column
  gap: 12px

// Responsywność
@media (max-width: 768px)
  .meal-img
    max-width: 80vw
    max-height: 30vh

  .flex-container
    flex-direction: column

  .action-buttons
    flex-direction: column

@media (max-width: 480px)
  mat-card
    padding: 16px

  .meal-img
    max-width: 100%
