mat-row
  &:hover
    background-color: rgba(45,45, 45,100 )

.mat-column-macro-header
  text-align: center
  font-weight: bold
  background-color: #f3f3f3
  border-bottom: 1px solid #ccc

.search-container
  margin-bottom: 20px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: stretch // Ustawia, aby wszystkie elementy wewnątrz flexboxa miały równą wysokość
  align-content: center

  mat-form-field
  flex: 6
  height: 60px
  margin: 0 // Upewnij się, że form field nie ma marginesów
mat-header-row
  background-color: #1976d2
  color: white
