<mat-card>
  <mat-card-header>
    <mat-card-title>
     <span>Ustawienia domyślne przy generowaniu planu</span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="!editingdata">
      Twoja domyślna wartość kcal: {{ myGDA.get('kcal')?.value }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <canvasjs-chart
      *ngIf="!editingdata"
      (chartInstance)="getChartInstance($event)"
      [options]="chartOptions"
      [styles]="{ width: '360px', height: '360px' }"
    ></canvasjs-chart>

    <form [formGroup]="myGDA" *ngIf="editingdata">
      <mat-form-field appearance="fill">
        <mat-label>Kcal</mat-label>
        <input
          matInput
          type="number"
          (keydown)="onInputKeyDown($event)"
          formControlName="kcal"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Białka (g)</mat-label>
        <input
          matInput
          type="number"
          (keydown)="onInputKeyDown($event)"
          formControlName="bialka"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Węglowodany (g)</mat-label>
        <input
          matInput
          type="number"
          (keydown)="onInputKeyDown($event)"
          formControlName="weglowodany"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tłuszcze (g)</mat-label>
        <input
          matInput
          type="number"
          (keydown)="onInputKeyDown($event)"
          formControlName="tluszcze"
        />
      </mat-form-field>
      <button mat-raised-button type="button" (click)="endedit()" color="primary">
        Cofnij
      </button>
      <button mat-raised-button (click)="onSubmit()" color="accent">
        Zapisz
      </button>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button *ngIf="!editingdata" (click)="startedit()" color="accent">
      <mat-icon class="mat-18">edit</mat-icon> Edytuj dane
    </button>

    <div *ngIf="gdaerror" class="error-message">
      <p>Wartości GDA nie spełniają wymagań!</p>
      <p>Maksymalna suma wartości to 100</p>
      <p>Minimalna wartość składnika makro to 10%</p>
      <p>Wartości kcal mogą się znajdować w zakresie 1200 - 5000</p>
    </div>
  </mat-card-actions>
</mat-card>
