@use '../../../../custom-theme.scss' as custom

mat-card-title-group
  color: custom.$primary-text-color
  background-color: custom.$accent-color
  text-align: start
  mat-card-title
    margin-left:20px
    padding-top: 20px
  mat-card-subtitle
    margin-left:20px
    padding-bottom:20px


p
  font-size: 10px
  color: custom.$primary-text-color

.wzor
  font-size: 14px
  color: custom.$warn-color

.sport-content
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  align-content: center
  mat-form-field
    width: 40%
