<mat-card>
  <mat-card-title-group>
    <mat-card-title>CPM</mat-card-title>
    <mat-card-subtitle
      >Całkowita przemiana materii - czyli dzienne zapotrzebowanie kaloryczne
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>
      Jest to ilość energii potrzebnej do realizacji wydatków energetycznych
      związanych z metabolizmem podstawowym i funkcjami życiowymi, a także
      dodatkową aktywnością ruchową. Przy obliczaniu zapotrzebowania
      kalorycznego organizmu znalazły zastosowanie współczynniki aktywności
      fizycznej (z ang. PAL, physical activity level).Indywidualnie wartość
      dobowego zapotrzebowania kalorycznego oblicza się mnożąc wartość
      podstawowej przemiany materii (PPM) przez współczynnik aktywności
      fizycznej (PAL).
    </p>
    <p class="wzor">
      Całkowita przemiana materii (CPM) = podstawowa przemiana materii (PPM) x
      współczynnik aktywności fizycznej (PAL)
    </p>

    <div class="cpm">
      <form [formGroup]="userData" class="sport-content">
        <mat-form-field
          *ngIf="sport.length > 0; else noSports"
          class="form-field"
        >
          <mat-label>Twoja aktywność</mat-label>
          <mat-select
            formControlName="sport"
            (selectionChange)="changeSport()"
          >
            <mat-option *ngFor="let s of sport" [value]="s">{{ s }}</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #noSports>
          <p>No sports available to select.</p>
        </ng-template>

        <mat-form-field>
          <mat-label>Sugerowana wartość kcal na dzień: </mat-label>
          <input matInput formControlName="cpm" />
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
