$primary-color: #2196F3  // Blue
$accent-color:  #388E3C// Red
$warn-color: #FF5252      // Green
$text-color: #333
$background-color: #F5F5F5
$primary-text-color:#F5F5F5
mat-card
  color: $primary-text-color
  margin-bottom: 10px

  mat-card-subtitle
    padding-bottom: 10px

  mat-card-header
    background-color: $accent-color

  p
    font-size: 9px
    margin: 0
  h3
    color: $accent-color
