$primary-color: #2196F3  // Blue
$accent-color:  #388E3C// Red
$warn-color: #FF5252      // Green
$text-color: #333
$background-color: #F5F5F5
$primary-text-color:#F5F5F5

.container
  height: calc(100vh - 100px)
  overflow-y: auto

.flex-table
  width: 100%
  display: inline-table

mat-table
  width: 100%

mat-paginator
  width: 100%

.tablehead
  background-color: $primary-color
  color: $primary-text-color


